version: "3.7"

services:
#  tdengine:
#    image: tdengine/tdengine:3.0.1.8
#    environment:
#      TAOS_FQDN: localhsot
  grafana:
    image: grafana/grafana:7.5.10
    volumes:
      - ./dist:/var/lib/grafana/plugins/tdengine-datasource
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
      - ./grafana/provisioning/:/etc/grafana/provisioning/
      #- grafana-data:/var/lib/grafana
    environment:
      TDENGINE_API: ${TDENGINE_API}
      # use base64(user:password) for Basic Authorization
      TDENGINE_BASIC_AUTH: ${TDENGINE_BASIC_AUTH}
      TDENGINE_CLOUD_TOKEN: ${TDENGINE_CLOUD_TOKEN}
      SMS_ACCESS_KEY_ID: ${SMS_ACCESS_KEY_ID}
      SMS_ACCESS_KEY_SECRET: ${SMS_ACCESS_KEY_SECRET}
      SMS_SIGN_NAME: ${SMS_SIGN_NAME}
      SMS_TEMPLATE_CODE: ${SMS_TEMPLATE_CODE}
      SMS_TEMPLATE_PARAM: "${SMS_TEMPLATE_PARAM}"
      SMS_PHONE_NUMBERS: $SMS_PHONE_NUMBERS
      SMS_LISTEN_ADDR: ${SMS_LISTEN_ADDR}
    ports:
      - "3000:3000"
  alertmanager:
    image: prom/alertmanager:v0.21.0
    volumes:
      - ./alertmanager:/etc/alertmanager
    command:
      - '--config.file=/etc/alertmanager/config.yml'
      - '--storage.path=/alertmanager'
    ports:
      - "9093:9093"
#  webhook:
#    build: ./webhook/
#    hostname: webhook
#    ports:
#      - "9010:9010"

volumes:
  grafana-data:

